/* form {
    margin-top: 2rem;
}

.card .card-content {
    margin-top: 1rem;
}
 */

body {
    min-height: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(
        to right bottom,
        rgba(97, 97, 97, .6), 
        rgba(97, 97, 97, .2)),
        url('https://images.unsplash.com/photo-1517757814062-2a2c761218f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 100%;
}

form {
    padding: 20px;
    margin-top: 20px;
}

form button, form h5 {
    margin: 20px 0;
}

.material-icons {
    font-size: 2rem !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ef5350;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ef5350 !important;
}

/* SPINNER */
.spinner {
    position: relative;
    top: 3rem;
}

.spinner .spinner-white-only {
    border-color: #fff;
}